.shimmer {
    width: 100%;
    display: inline-block;
    position: relative;
    background: #3a3a3a;
    background-image: linear-gradient(
        to right,
        #3a3a3a 0%,
        #3f3f3f 10%,
        #4a4a4a 20%,
        #3f3f3f 30%,
        #3a3a3a 50%,
        #3a3a3a 100%
    );
    background-repeat: no-repeat;
    background-size: 200% 100%;
    animation: shimmer 0.8s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}